/* Contact.css */
.contact-container {
    margin-top: 50px;
  }
  
  .contact-card {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    padding: 20px;
    margin: 0 1000px; /* Thay đổi giá trị margin để làm cho khung rộng hơn */
    max-width: 20000px; /* Thay đổi giá trị max-width để làm cho khung rộng hơn */
    position: relative;
    z-index: 1;
  }
  
  .contact-card h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4285f4; /* Google blue */
  }
  
  .contact-card h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .contact-card h3 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .contact-card ul {
    padding-left: 20px;
  }
  
  .contact-card li {
    list-style: circle;
    margin-bottom: 5px;
  }
  
  .contact-card p {
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .contact-card strong {
    font-weight: bold;
  }
  
  .social-media-links {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Thêm khoảng cách giữa khung paragraph và các dòng chữ mạng xã hội */
  }
  
  .social-media-links li {
    margin-right: 40px; /* Thêm khoảng cách giữa các liên kết mạng xã hội */
    white-space: nowrap; /* Ngăn các dòng chữ không xuống dòng */
  }
  
  .social-media-links a {
    color: #4285f4; /* Google blue */
    text-decoration: none;
    transition: color 0.2s;
  }
  
  .social-media-links a:hover {
    color: #3367d6; 
  }